.navbar {
    padding-right: 3rem;
}

.navbar .navbar-brand {
  padding-top:1.6rem !important;
}
.form-horizontal .checkbox-inline {
  padding-top:0 !important;
}

/* Single Page Customizations */
.page-header h1 {
  border-bottom: 1px solid #27476E;
  padding-bottom:1rem;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
